{% extends 'blank.html' %}


{% block title %}Home{% endblock %}

{% block content %}
<h2>หัวข้อการประเมิน</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th>หมวดที่</th>
            <th>ชื่อหัวข้อ</th>
            <th>สถานะ</th>
        </tr>
    </thead>
    <tbody>
        {% if messages %}
            {% for msg in messages %}
                <div class="alert {{msg.level_tag}}" role="alert">
                    {{ msg.message }}
                </div>
            {% endfor %}
        {% endif %}

        {% for row in list_main_cate %}
        <tr>
            <td>{{ row.main_topic_id }}</td>
            <td>
                {% if row.short_result == 'OK' or row.short_result == 'NO' %}
                <a href="update_sub_category{{ row.main_topic_id }}/">{{ row.main_detail }}</a>
                {% else %}
                <a href="sub_category{{ row.main_topic_id }}/">{{ row.main_detail }}</a>
                {% endif %}
            </td>
            <td>{{ row.short_result }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

