{% extends 'blank.html' %}

{% block title %}หัวข้อย่อยที่1{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form action="" method="post">
    {% csrf_token %}
    <h3>การเรียนการสอน</h3>
    <br>
    <div class="form-group">
        <p>1.1 มีจำนวนชั่วโมงสอนไม่น้อยกว่าภาระงานขั้นต่ำ</p>
         <div class="form-inline">
                {{form1|crispy}}
         </div>
     </div>

    <div class="form-group">
        <p>1.2 มีประมวลรายวิชา / แผนการสอน</p>
        <div class="form-inline">
                {{form2|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.3 มีผลการประเมินความพึงพอใจของผู้เรียน</p>
        <div class="form-inline">
                {{form3|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.4 มีการเข้ารับการอบรมทางวิชาการหรือ</p>
        <div class="form-inline">
                {{form4|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.5 มีการจัดการเรียนรู้ที่พัฒนาจากการวิจัย หรือจากกระบวนการจัดการความรู้เพื่อพัฒนาการเรียนการสอน</p>
        <div class="form-inline">
                {{form5|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.6 มีการพัฒนาหรือปรับปรุงการจัดการเรียนการสอน กลยุทธ์การสอน หรือการประเมินผลการเรียนรู้ทุกรายวิชา ตามผลการประเมินรายวิชา</p>
        <div class="form-inline">
                {{form6|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.7 มีผลงานการเป็นอาจารย์ที่ปรึกษา / มีการให้คำปรึกษาทางวิชาการและแนะแนวการใช้ชีวิตแก่นักศึกษา (ทั่วไป)</p>
        <div class="form-inline">
                {{form7|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.8 มีผลงานการเป็นผู้รับผิดชอบโครงการกิจกรรมนักศึกษา / เป็นคณะกรรมการโครงการกิจกรรมนักศึกษา / เป็นอาจารย์ที่ปรึกษาโครงการ / อาจารย์ที่ปรึกษาชมรม (กิจกรรม/โครงการต่างๆ)</p>
        <div class="form-inline">
                {{form8|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.9 มีการจัดกิจกรรม / โครงการเพื่อพัฒนาประสบการณ์ทางวิชาการหรือทักษะวิชาชีพแก่นักศึกษา</p>
        <div class="form-inline">
                {{form9|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>1.10 ภาระงานสอนอื่น ๆ </p>
        <div class="form-inline">
                {{form10|crispy}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:1rem;">Submit</button>
</form>

{% endblock %}