{% extends 'blank.html' %}

{% block title %}หัวข้อย่อยที่2{% endblock %}

{% block content %}
{% include 'base/nav_menu.html' %}
{% load crispy_forms_tags %}
<form action="" method="post">
    {% csrf_token %}
    <h3>การสิจัยหรือตำราหนังสือหรือผลงานทางวิชาการหรือบทความทางวิชาการ</h3>
    <br>
    <div class="form-group">
        <p>2.1 มีผลงานวิจัยหรืองานสร้างสรรค์</p>
        <div class="form-inline">
                {{form1|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.2 ระดับคุณภาพของผลงานวิชาการ</p>
        <div class="form-inline">
                {{form2|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.3 มีการบูรณาการกระบวนการวิจัยหรืองานสร้างสรรค์กับการจัดการเรียนการสอน</p>
        <div class="form-inline">
                {{form3|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.4 มีผลงานการเผยแพร่งานวิจัยหรืองานสร้างสรรค์ในการประชุมวิชาการหรือการตีพิมพ์ในวารสารระดับชาติ / นานาชาติ</p>
        <div class="form-inline">
                {{form4|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.5 จำนวนครั้งในการเผยแพร่งานวิจัยหรืองานสร้างสรรค์ในการประชุมวิชาการหรือการตีพิมพ์ในวารสารระดับชาติ / นานาชาติ</p>
        <div class="form-inline">
                {{form5|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.6 มีการนำผลงานวิจัยหรืองานสร้างสรรค์ไปใช้ให้เกิดประโยชน์ และมีการรับรองการใช้ประโยชน์จริงจากหน่วยงานภายนอกหรือชุมชน</p>
        <div class="form-inline">
                {{form6|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.7 มีการจดสิทธิบัตร / อนุสิทธิบัตร</p>
        <div class="form-inline">
                {{form7|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>2.8 ภาระงานวิชาการอื่น ๆ </p>
        <div class="form-inline">
                {{form8|crispy}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:1rem;">Submit</button>
</form>

{% endblock %}