{% extends 'blank.html' %}

{% block title %}หัวข้อย่อยที่4{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form action="" method="post">
    {% csrf_token %}
    <h3>การทำนุบำรุงศิลปวัฒนธรรม</h3>
    <br>
    <div class="form-group">
        <p>4.1 มีผลงานการเป็นผู้รับผิดชอบ/เป็นคณะกรรมการดำเนินโครงการทำนุบำรุงศิลปวัฒนธรรม</p>
        <div class="form-inline">
                {{form1|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>4.2 การเข้าร่วมโครงการทำนุบำรุงศิลปวัฒนธรรม</p>
        <div class="form-inline">
                {{form2|crispy}}
        </div>
    </div>
    <div class="form-group">
        <p>4.3 การปฏิบัติตามระบบและกลไกการทำนุบำรุงศิลปวัฒนธรรม</p>
        <div class="form-inline">
                {{form3|crispy}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:1rem;">Submit</button>
</form>

{% endblock %}