<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        body{
            padding-top: 5rem;
        }
    </style>

</head>
<body>
    <div class="container">
        {% if all_person %}
        <h2 style="padding-bottom: 3rem;">Person Data</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Telephone</th>
            </tr>

            {% for row in all_person %}
               <tr>
                   <td>{{row.p_id}}</td>
                   <td><a href="/index/{{ row.p_id }}/">{{row.p_name}}</a></td>
                   <td>{{row.p_surname}}</td>
                   <td>{{row.p_tel}}</td>
               </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3>Don't have any person data.</h3>
        {% endif %}
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>