{% extends "mysite/base.html" %}

{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td>Tel</td>
                <td>
                    <a href="{% url 'person_insert' %}" class="btn btn-outline-success">
                        <i class="fas fa-plus"></i>Add New
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for person in person_list %}
                <tr>
                    <td>{{ person.p_name }}</td>
                    <td>{{ person.p_surname }}</td>
                    <td>{{ person.p_tel }}</td>
                    <td>
                        <a href="/person/person_edit/{{ person.p_id }}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="/person/person_del/{{ person.p_id }}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}